<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student List</h1>
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Branch</th>
        </tr>
        {% for student in studlist %}
        <tr>
            <td>{{ student.Name }}</td>
            <td>{{ student.Age }}</td>
            <td>{{ student.Branch }}</td>
        </tr>
        {% endfor %}
    </table>   
</body>
</html>