<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="color: black;">PVR Shows List</h1>
    <h3 style="color: brown;">Avatar 6:00 PM Show is Housefull</h3>
    <h3 style="color: green;">Dhurandher 8:30 PM Seats Is Available</h3>
    <h3 style="color: rgb(213, 137, 5);">Border2 10:00 PM Allmost Seat Are Full Harry up</h3>
    <h3 style="color: green;">Mission Mangal 11:00 PM Seats Are Avilable</h3>
</body>
</html>